* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fdf9f1;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  padding-top: 2rem;
  color: #333333;
}

.main {
  flex-grow: 1;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.header__title {
  margin: .5rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.mems {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  pointer-events: all;
}

.mems__item {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #ccc;
}

.mems__control {
  display: none;
}

.mems__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  color: #0800fd;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.mems__icon {
  display: block;
  visibility: hidden;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url(../images/icons/plus.svg);
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.mems__wrapper {
  display: block;
  width: clamp(20rem, 90%, 40rem);
  height: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.mems__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: scale(0);
  transform-origin: center;
}

.mems__item:has(:checked) .mems__wrapper {
  height: auto;
}
.mems__item:has(:checked) .mems__image {
  transform: scale(1);
}

input:checked + .mems__content .mems__header {
  color: #333333;
}

input:checked + .mems__content .mems__icon {
  transform: rotate(45deg);
}

@media(hover: hover) and (pointer: fine) {
  .mems:hover .mems__icon {
    visibility: visible;
    transition: all .3s ease;
  } 

  .mems:hover .mems__content .mems__header {
    color: #333333;
    transition: all .3s ease;
  }

  .mems__item:not(:has(:checked)):hover .mems__icon {
    transform: rotate(45deg);
    transition: all .3s ease;
  }

  .mems__item:not(:has(:checked)):hover .mems__image {
    width: 100%;
    transform: scale(1);
    transition: all .3s ease;
  }

  .mems__item:not(:has(:checked)):hover .mems__wrapper {
    height: auto;
    transition: all .3s ease;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 1.4rem;
  }
}